//参考 element UI 的配色
$el-primary:#7631c1;
$el-primary-light:#7631c1;

$el-blue:#20a0ff;
$el-blue-light:#b0d7f5;

$el-green:#13ce66;
$el-green-light:#a1efc4;

$el-red:#ff4949;
$el-red-light:#f9b3b3;

$el-yellow:#f7ba2a;
$el-yellow-light:#fbeac1;

$el-gray:#9e9aa4;
$el-gray-light:#9e9aa4;


$el-default: $el-primary;
$el-default-light:$el-primary-light;
