/*
 * author:evanliu2968
 * github:https://github.com/EvanLiu2968/el-radio
 * lincense:MIT
 */
 @import './color.scss'; //color variables
 @import './size.scss'; //size variables
 
 /*radio component*/
 .el-radio,
 .dirty-radio {
   position: relative;
   font-size: $el-size-default;
   
 }
 
 label.el-radio,
 label.dirty-radio {
   display: block;
   cursor: pointer;
 }
 
 .el-radio>input[type="radio"],
 .dirty-radio>input[type="radio"] {
   display: none;
  
 }
 
 .el-radio>input[type="radio"][disabled],
 .dirty-radio>input[type="radio"][disabled] {
   cursor: not-allowed;
 }
 
 .el-radio>input[type="radio"]+.el-radio-style,
 .dirty-radio>input[type="radio"]+.el-radio-style {
   position: relative;
   display: inline-block;
   width: 1.4em;
   height: 1.4em;
   vertical-align: top;
   cursor: pointer;
   top: 0.2em;
   
 }
 
 .el-radio>input[type="radio"]+.el-radio-style:hover:before,
 .dirty-radio>input[type="radio"]+.el-radio-style:hover:before {
   border-color: $el-default;
 }
 
 .el-radio>input[type="radio"]+.el-radio-style:before {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 1.4em;
   height: 1.4em;
   content: '';
   border: 1px solid $el-gray;
 }
 .dirty-radio>input[type="radio"]+.el-radio-style:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  content: '';
  border: 3px solid $dirty-border-yellow;
 }
 
 .el-radio>input[type="radio"]+.el-radio-style:after,
 .dirty-radio>input[type="radio"]+.el-radio-style:after {
   position: absolute;
   display: none;
   content: '';

 }
 
 .el-radio>input[type="radio"][disabled]+.el-radio-style,
 .dirty-radio>input[type="radio"][disabled]+.el-radio-style {
   cursor: not-allowed;
   color: $el-gray-light;
 }
 
 .el-radio>input[type="radio"][disabled]+.el-radio-style:hover,
 .el-radio>input[type="radio"][disabled]+.el-radio-style:before,
 .el-radio>input[type="radio"][disabled]+.el-radio-style:after,
 .dirty-radio>input[type="radio"][disabled]+.el-radio-style:hover,
 .dirty-radio>input[type="radio"][disabled]+.el-radio-style:before,
 .dirty-radio>input[type="radio"][disabled]+.el-radio-style:after {
   cursor: not-allowed;
 }
 
 .el-radio>input[type="radio"][disabled]+.el-radio-style:hover:before,
 .dirty-radio>input[type="radio"][disabled]+.el-radio-style:hover:before {
   border: 1px solid $el-gray-light;
   animation-name: none;
 }
 
 .el-radio>input[type="radio"][disabled]+.el-radio-style:before,
 .dirty-radio>input[type="radio"][disabled]+.el-radio-style:before {
   border-color: $el-gray-light;
 }
 
 .el-radio>input[type="radio"]:selected+.el-radio-style:before {
  animation-name: none;
 }
 .dirty-radio>input[type="radio"]:selected+.el-radio-style:before {
  animation-name: none;
  border: 3px solid $dirty-border-yellow;
 }
 
 .el-radio>input[type="radio"]:selected+.el-radio-style:after,
 .dirty-radio>input[type="radio"]:selected+.el-radio-style:after  {
  display: block;
  
 }

 
 .el-radio>input[type="radio"]:checked+.el-radio-style:before {
  animation-name: none;
 }
 .dirty-radio>input[type="radio"]:checked+.el-radio-style:before {
  animation-name: none;
  border: 3px solid $dirty-border-yellow;
 }
 
 .el-radio>input[type="radio"]:checked+.el-radio-style:after,
 .dirty-radio>input[type="radio"]:checked+.el-radio-style:after  {
  display: block;
  
 }
 
 
 .el-radio>input[type="radio"]+.el-radio-style:before,
 .dirty-radio>input[type="radio"]+.el-radio-style:before {
   border-radius: 50%;
   background-color: white;
 }
 
 .el-radio>input[type="radio"]+.el-radio-style:after,
 .dirty-radio>input[type="radio"]+.el-radio-style:after {
   top: 0.4em;
   left: 0.4em;
   width: 0.6em;
   height: 0.6em;
   border-radius: 50%;
   background: $el-default;
   
 }
 
 .el-radio>input[type="radio"]:selected+.el-radio-style:before,
 .dirty-radio>input[type="radio"]:selected+.el-radio-style:before {
   border: 1px solid $el-default;
 }
 
 .el-radio>input[type="radio"]:selected[disabled]+.el-radio-style:before,
 .dirty-radio>input[type="radio"]:selected[disabled]+.el-radio-style:before {
   border: 1px solid $el-default-light;
 }
 
 .el-radio>input[type="radio"]:selected[disabled]+.el-radio-style:after,
 .dirty-radio>input[type="radio"]:selected[disabled]+.el-radio-style:after {
   background: $el-default-light;
 }
 
 
 /*define size*/
 .el-radio.el-radio-sm,
 .dirty-radio.el-radio-sm {
   font-size: $el-size-small;
 }
 
 .el-radio.el-radio-lg,
 .dirty-radio.el-radio-lg {
   font-size: $el-size-large;
 }
 
 .el-radio > input[type="radio"]+.el-radio-style:hover:before,
 .dirty-radio > input[type="radio"]+.el-radio-style:hover:before {
   border-color: $el-default;
 }
 
 