# Security Policy
server_tokens off;
if_modified_since off;
expires off;
etag off;
server {
	listen       80;
	server_name  registrar-web;

	#Security Policy
	add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";
	#add_header X-Frame-Options SAMEORIGIN;
	#add_header X-Content-Type-Options nosniff;
	#add_header X-XSS-Protection "1; mode=block";
	add_header Content-Security-Policy "default-src * blob:; frame-src 'self' blob: data:; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src data: https:; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'; object-src blob: https:";
	
	# kill cache
    #add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';

	#charset koi8-r;
	access_log /tmp/access.log;
	access_log /tmp/error.log;
	
	#timeout
	proxy_read_timeout 600s;

	#request body max-size
	client_max_body_size 100M;

	location /api/ {
	  proxy_pass http://localhost:8080/;
	  proxy_http_version 1.1;
	  proxy_set_header Upgrade $http_upgrade;
	  proxy_set_header Connection 'upgrade';
	  proxy_set_header Host $host;
	  proxy_cache_bypass $http_upgrade;
	}

}

