@import '../variable.scss';

.ic-calendar {
  border: none;
  max-height: 19px;
  outline: none;
  background-color: #443c4f !important;
}

.ic-give-money {
  background-image: url('/assets/images/icons/Nav/Give Money.svg');
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
