@font-face {
  font-family: 'tahoma';
  src: url('/assets/fonts/tahoma.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TahomaBold';
  src: url('/assets/fonts/Tahoma-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBHelvethaicaX-65Med';
  src: url('/assets/fonts/DB-Helvethaica-X-Med-v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBHelvethaicaX-55Regular';
  src: url('/assets/fonts/DB-Helvethaica-X-v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBHeavent';
  src: url('/assets/fonts/DB-Heavent-Original/DB-Heavent-v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBHeavent-Bold';
  src: url('/assets/fonts/DB-Heavent-Original/DB-Heavent-Bd-v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBHeavent-Med';
  src: url('/assets/fonts/DB-Heavent-Original/DB-Heavent-Med-v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DBHeavent-Thin';
  src: url('/assets/fonts/DB-Heavent-Original/DB-Heavent-Thin-v3.2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PSL';
  src: url('/assets/fonts/PSL.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PSL-Bd';
  src: url('/assets/fonts/PSL-Bd.ttf');
  font-weight: normal;
  font-style: normal;
}

// -- start---> THSarabunNew
@font-face {
  font-family: 'THSarabunNew';
  src: url('/assets/fonts/THSarabunNew.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'THSarabunNew-Bd';
  src: url('/assets/fonts/THSarabunNew-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'THSarabunNew-BdIt';
  src: url('/assets/fonts/THSarabunNew-BoldItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'THSarabunNew-It';
  src: url('/assets/fonts/THSarabunNew-It.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'THSarabunNew-Bd-Woff';
  src: url('/assets/fonts/THSarabunNew-Bold.woff');
  font-weight: normal;
  font-style: normal;
}

// -- end---> THSarabunNew
